.tab-list {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid #ccc;
  border-width: 0 0 5px 0;
}

.tab-list-item {
  flex-grow:3;
  margin: 10px;
  padding: 24px 24px;
  border-width: 5px 1px 0px 1px;
}

.tab-list-active {
  font-size: 2rem;
  margin:5px 5px 0 5px;
}

.tab-list-active-selected{
  font-size:2rem;
  background-color: #757575;
  border: solid #ccc;
  border-width: 5px 5px 0 5px;
  margin:5px 5px -5px 5px;
}

.tab-content{
  font-size:2rem;
  font-family:Arial;
}

.app-stuff{
  background-image: linear-gradient(to bottom, #60aa60, #101010);
  min-height: 100vh;
}

.tic-tac{
  border:2px solid #000;
  border-radius:20px;
  background: #656565;
  font-size: 1rem;
  line-height: 10;
  padding: 14px 40px;;
  margin: 2rem;
  width: 75px;
  height: 30px;
  text-decoration:none;
  color:#eee;

}

.token-button{
  border: 0;
  border-radius: 0.25rem;
  background: #58d0FF;
  color: white;
  font-family: -system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: .5rem 1rem;
  margin:10px;
  cursor: pointer;
}

.token-button-2{
  border: 0;
  border-radius: 0.25rem;
  background: #58A8FF;
  color: white;
  font-family: -system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: .5rem 1rem;
  margin:10px;
  cursor: pointer;
}

.generic-header{
  font-family:Georgia;
  font-size: 3rem;
  font-weight:700;
}

.form-block{
  display: flex;
  flex-direction:column;
  width:50%;
  margin-top:20px;
  margin-left:40px;
}
.inline-radio-buttons{
  display:flex;
  flex-direction: row;

}
.submit{
  width:50%;
  margin:auto;
}
